{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p><a href="{{ path('fos_user_security_login') }}">{{ 'Go to login page' | trans }}</a></p>

{% endblock fos_user_content %}
