{% extends 'base.html.twig' %}

{% block title %}{{ 'Dota' }}{% endblock %}
{% block body %}
    {% for hero in heroes %}
        <li>
            <i class="fa fa-envelope fa-fw"></i> {{ hero }}
        </li>
    {% endfor %}
{% endblock %}