{% extends 'base.html.twig' %}

{% block title %}{{ 'Dashboard' | trans() }}{% endblock %}

{% block body %}
    <div class="panel panel-default no-bg center-block hidden-xs" style="width: 1280px; height: 722px;">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Индикаторы -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ asset('images/terrorblade-carousel.jpg') }}" alt="terrorblade-carousel">
                </div>
                <div class="item">
                    <img src="{{ asset('images/outworld-devourer-carousel.jpg') }}" alt="outworld-devourer-carousel">
                </div>
                <div class="item">
                    <img src="{{ asset('images/sf-carousel.jpg') }}" alt="sf-carousel">
                </div>
            </div>
            <!-- Элементы управления -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}